  .container {
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-container {
    background-color: #03071e;
    width: 60rem;
    height: 60rem;
    border-radius: 1.2rem;
    opacity: 0.9;
    color: #fff;
    font-size: 1.6rem;
  }


  .signup-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    align-items: flex-start;
    justify-items: center;
  }

  .signup-heading {
    font-size: 2.4rem;
    text-align: center;
    padding-top: 2.4rem;
    margin-bottom: 1.2rem;
    grid-column: 1/-1;
  }

  .signup-form label {
    display: block;
    margin-bottom: 0.8rem;
  }

  .signup-form input {
    width: 25rem;
    padding: 0.8rem;
    font-size: 1.6rem;
    font-family: inherit;
    border-radius: 1rem;
    border: 3px solid #99a5b1;
  }

  .signup-form textarea {
    width: 25rem;
    padding: 0.8rem;
    font-size: 1.6rem;
    font-family: inherit;
    border-radius: 1rem;
    border: 3px solid #99a5b1;
  }

  .signup-form-btn:link,
  .signup-form-btn:visited {
    display: inline-block;
    text-decoration: none;
    color: #03071e;
    background-color: #99a5b1;
    padding: 0.8rem 6.4rem;
    margin-top: 2rem;
    border-radius: 1.2rem;
    transition: all 0.5s;

  }

  .signup-form-btn:hover,
  .signup-form-btn:active {
    background-color: #66778b;
    color: #fff;
  }

  .btn-container {
    grid-column: 1/-1;
  }

  .form-text {
    font-size: 1.4rem;
  }

  .login-link:link,
  .login-link:visited {
    display: inline-block;
    padding-left: 0.8rem;
    text-decoration: none;
    color: #99a5b1;
    transition: all 0.3s;
  }

  .login-link:hover,
  .login-link:active {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
  }

  .text-container {
    grid-column: 1/-1;
  }