/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*


Colors:

Primary color:#03071e
#fff   in logo:-> #436f70
in logo button also in hero section:-> #99a5b1
in nav hover effect:-> #66778b
Secondary Heading: #1A1A1A
in find img background:-> #c4c5c7
in card:-> #f0f2f4
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Condensed', 'sans-serif';
  max-width: 130rem;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  background-color: #f0f0f0;
  min-width: 90rem;
}


/***********************  Heading section  **************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #03071e;
  width: 100%;
  min-width: 90rem;
  height: 6.2rem;
  padding: 0 2.4rem;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.logo-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo-icon {
  color: #fff;
  fill: #fff;
  width: 3rem;
  height: 3rem;

}

.logo {
  color: #fff;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 3rem;
}


.logo span {
  color: #436f70;
}


.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #66778b;
  font-weight: bolder;
}

.main-nav-link:link.login-btn,
.main-nav-link:visited.login-btn {
  color: #001125;
  background-color: #99a5b1;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  margin: 0.5rem 0;
  transition: all 0.3s;
}

.main-nav-link:hover.login-btn,
.main-nav-link:active.login-btn {
  color: #fff;

}


.mobile-nav {
  display: none;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  padding: 0.2rem;
}

.close-icon {
  display: none;
}

/**************************   Hero Section  *************************/

.section-hero {
  background-color: #99a5b1;
  padding: 7.4rem 0 2.4rem 0;
  min-width: 90rem;
  background-image: linear-gradient(to right, #99a5b1, rgb(3, 7, 30, 0.7));
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 6.4rem 2.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7.4rem;
  align-items: center;
  justify-content: center;
}


.hero-heading {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -2px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
  color: #1A1A1A;
}

.hero-img {
  width: 100%;
  max-width: 60rem;
  height: auto;
  max-height: 40rem;
  z-index: 3;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #03071e;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 0.3rem;
  transition: all 1s;
}

.btn:hover,
.btn:active {
  background-color: #66778b;
  box-shadow: inset 0 0 0 1px #000;
}


/*************************  Find Section **************************/

.section-find {
  padding: 2.4rem 3.2rem;
  margin: 3.6rem 0;
  background-color: #fff;
  box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, .18), 0 0.1rem 0.1rem 0 rgba(0, 0, 0, .17);
  min-width: 90rem;
}

.find-heading {
  font-size: 2.4rem;
}

.find-container {
  display: flex;
  justify-content: space-around;
  gap: 2.4rem;
  margin-top: 2.4rem;
}

.find-card {
  height: 20rem;
  width: 20rem;
  background-color: #f0f2f4;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.1rem 0.1rem rgba(62, 62, 62, 0.3);
  transition: all 0.5s;
}

.find-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.find-card .find-card-img {
  width: 100%;
  height: 75%;
  background-size: cover;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 1.6rem;
}

.find-img-name {
  font-size: 1.6rem;
  color: #1A1A1A;
  text-align: center;
}

.find-1 {
  background-image: url(/imgs/car.png);
}

.find-2 {
  background-image: url(/imgs/bike.png);
}

.find-3 {
  background-image: url(/imgs/scooter.png);
}

.find-4 {
  background-image: url(/imgs/EV.png);
}

/****************************** Car Card Section ************************************/

.section-card {
  padding: 2.4rem 3.2rem;
  margin: 3.6rem 0;
  background-color: #fff;
  box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, .18), 0 0.1rem 0.1rem 0 rgba(0, 0, 0, .17);
  min-width: 90rem;
}

.card-heading {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.4rem;
  margin-top: 2.4rem;
}

.card {
  height: 30rem;
  width: 25rem;
  background-color: #f0f2f4;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.1rem 0.1rem rgba(62, 62, 62, 0.3);
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card .card-img {
  width: 100%;
  height: 50%;
  background-size: cover;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 1.6rem;
}

.card-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1.2rem;
}

.vehical-name {
  font-size: 1.6rem;
  font-weight: bold;
}

.vehical-type {
  font-size: 1.2rem;
  color: #878f97;
}

.vehical-price {
  font-size: 1.4rem;
  font-weight: bold;
}

.vehical-price span {
  color: #878f97;
  font-weight: normal;
}

.detail-btn:link,
.detail-btn:visited {
  display: inline-block;
  background-color: #03071e;
  padding: 0.4rem 1.2rem;
  margin-right: 14rem;
  margin-top: 1.2rem;
  text-align: center;
  border-radius: 0.3rem;
  transition: all 1s;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

.detail-btn:hover,
.detail-btn:active {
  background-color: #66778b;
  box-shadow: inset 0 0 0 1px #000;
}

.view-link {
  margin-top: 2.4rem;
  align-self: center;
}

.view-btn {
  text-decoration: underline;
  color: #03071e;
  font-size: 1.4rem;
  font-weight: 700;
}

.view-btn:hover,
.view-btn:visited {
  text-shadow: 0 0.2rem 0.1rem rgba(62, 62, 62, 0.5);
}

/****************************** Footer Section **************************************/

.footer {
  padding: 3.6rem 2.4rem 1.2rem 2.4rem;
  margin: 0 auto;
  background-color: #03071e;
  height: auto;
  min-width: 90rem;
}

.footer-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 2.4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 1.2rem;
}

.footer-desc {
  color: #99A0A8;
  line-height: 1.3;
  font-size: 1.2rem;
}

.office-address {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 0.5rem;
  justify-self: center;
}

.address {
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.address-detail p {
  color: #99A0A8;
  line-height: 1.3;
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.nav-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 0.5rem;
}

.footer-nav-text {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.footer-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.footer-nav-link:link,
.footer-nav-link:visited {
  text-decoration: none;
  color: #99A0A8;
  font-size: 1.6rem;
}

.footer-nav-link:hover,
.footer-nav-link:active {
  text-decoration: underline 0.5px white;
  color: #99A0A8;

}

.social-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social-head {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #c4c5c7;
  border-radius: 50%;
  cursor: pointer;
}

.copyright-section {
  text-align: center;
  padding-top: 1.6rem;
}

.copyright-text {
  color: #99A0A8;
  font-size: 1.4rem;

}



/* This Media query is for card layout in which when screen size go below 1136px 2 card will  hide */

/* 1135.5 % 16=70.96875 */
@media (max-width: 70.97rem) {
  .element {
    display: none;
  }
}